modules = ["nodejs-20"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[env]
NPM_CONFIG_BUILD_FROM_SOURCE = "true"

[[ports]]
localPort = 3000
externalPort = 80

[agent]
expertMode = true
